<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %}	
        <article>
            <section role="main">
                <h1>{{ headline }}</h1>
                
                {% if images|size %}
                    <div class="images">
                        {% for image in images %}
                            <img src="{{ image.path }}" alt="{{ image.name }}">
                        {% endfor %}
                    </div>
                {% endif %}
                
                {{ body }}
            </section>
        </article>
      {% include "shared/nav" %}
    </section>
    {% include "shared/piwik" %}
  </body>
</html>